doctype 5
html
  head
    block head
      meta(charset='utf-8')
      title
        block title
          | WKTool - WCCS Model Checker
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
      for source in style
        link(rel='stylesheet', href="#{source}")
      for source in scripts
        script(src="#{source}")
      script
        var WKToolOrigin = "#{origin}";
  body
    div#main.container-fluid
      div.navbar
        div.navbar-inner
          a.brand WKTool
          ul.nav
            li.divider-vertical
            li
              input#project-name.input-xlarge(type='text',placeholder='Project name...')
          ul.nav.pull-right
            li.divider-vertical
            li
              a#save-menu Save
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown",data-target='#')
                | Load 
                b.caret
              ul#load-menu.dropdown-menu
            li.dropdown
              a#delete-menu.disabled.dropdown-toggle(data-toggle="dropdown",data-target='#')
                | Delete 
                b.caret
              ul#delete-menu-items.dropdown-menu
            li
              a#download-file Download
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown",data-target='#')
                | Examples 
                b.caret
              ul#examples.dropdown-menu
                for example in args.examples
                  li
                    a #{example}
      div#editor.row-fluid
        div#editor-options
          div#model-lang.btn-group
            div.btn.btn-mini.disabled WCCS
            div.btn.btn-mini WKS
      div#verifier.row-fluid
        div.span6#property-list
          table.table#properties
            colgroup
              col(width='10%')
              col(width='10%')
              col(width='80%')
            thead
              tr
                th Status
                th State
                th Formula
            tbody
          button.btn#add-property
            i.icon-plus
            |   Add Property
        div.span6#edit-property 
          h4 Property
          div.form-horizontal
            div.control-group
              label.control-label Initial state
              div.controls
                select.input-block-level
            div.control-group
              label.control-label Formula
              div.controls
                textarea.input-block-level
            div.control-group
              label.control-label Engine
              div.controls
                  div.btn-group
                    div.btn Symbolic
                    div.btn Naive
            div.form-actions
              div.btn.btn-success Save
              div.btn Cancel
    //- Message Box (managed by Panel.coffee)
    div#message-box
    //- Overwrite promt dialog (managed by Panel.coffee)
    div#overwrite-warning.modal.hide.fade
      div.modal-header
        button.close(data-dismiss='modal') &times;
        h3 Project "
          span.overwrite-name
          | " Already Exists!
      div.modal-body
        p A project with the name "
          span.overwrite-name
          | " is already stored in localStorage of your browser.
          br
          b Do you wish to overwrite it?
      div.modal-footer
        button.btn(data-dismiss='modal') Cancel
        button#overwrite-button.btn.btn-primary(data-dismiss='modal') Overwrite
    //- Delete from localStorage prompt dialog
    div#delete-warning.modal.hide.fade
      div.modal-header
        button.close(data-dismiss='modal') &times;
        h3 Delete "
          span.delete-name
          | " from LocalStorage?
      div.modal-body
        p Do you really wish to delete "
          span.delete-name
          | " from LocalStorage in your browser?
      div.modal-footer
        button.btn(data-dismiss='modal') Cancel
        button#delete-button.btn.btn-primary(data-dismiss='modal') Delete