doctype 5
html
  head
    block head
      meta(charset='utf-8')
      title
        block title
          | WKTool - WCCS Model Checker
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
      for source in style
        link(rel='stylesheet', href="#{source}")
      for source in scripts
        script(src="#{source}")
      script
        var WKToolOrigin = "#{origin}";
  body
    div#main.container-fluid
      div.navbar
        div.navbar-inner
          a.brand WKTool
          ul.nav
            li.divider-vertical
            li
              input#project-name.input-xlarge(type='text',placeholder='Project name...')
          ul.nav.pull-right
            li.divider-vertical
            li
              a Save
            li
              a Load
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown",data-target='#') Examples 
                b.caret
              ul#examples.dropdown-menu
                for example in args.examples
                  li
                    a #{example}
      div#editor.row-fluid
        div#editor-options
          div#model-lang.btn-group
            div.btn.btn-mini.disabled WCCS
            div.btn.btn-mini WKS
      div#verifier.row-fluid
        div.span6#property-list
          table.table#properties
            colgroup
              col(width='10%')
              col(width='10%')
              col(width='80%')
            thead
              tr
                th Status
                th State
                th Formula
            tbody
              tr
                td 
                  i.icon-ok
                td S_1
                td E a U[10] b
          button.btn#add-property
            i.icon-plus
            |   Add Property
        div.span6#edit-property properties