doctype 5
html
  head
    block head
      meta(charset='utf-8')
      title
        block title
          | WKTool - WCCS Model Checker
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
      for source in style
        link(rel='stylesheet', href="#{source}")
      for source in scripts
        script(src="#{source}")
      script
        var WKToolOrigin = "#{origin}";
  body
    div#main.container-fluid
      //- Menu bar
      div.navbar
        div.navbar-inner
          a.brand WKTool
          ul.nav
            li.divider-vertical
            li
              input#project-name.input-xlarge(type='text',placeholder='Project name...')
          ul.nav.pull-right
            li.divider-vertical
            li
              a#save-menu Save
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown",data-target='#')
                | Load 
                b.caret
              ul#load-menu.dropdown-menu
                li#examples-menu.dropdown-submenu
                  a Load example
                  ul#examples.dropdown-menu
                    for example in args.examples
                      li
                        a #{example}
            li.dropdown
              a#delete-menu.disabled.dropdown-toggle(data-toggle="dropdown",data-target='#')
                | Delete 
                b.caret
              ul#delete-menu-items.dropdown-menu
            li
              a#download-file Export
            li 
              a#show-help(href='#help-dialog',data-toggle='modal') Help
      //- Editor
      div#editor.row-fluid
        div#editor-options
          div.btn-group
            div#editor-message.btn.btn-mini.btn-warning.disabled
              span.label.label-warning Error:
              span.message(style='padding-left:10px')
          div#model-lang.btn-group
            div.btn.btn-mini.disabled WCCS
            div.btn.btn-mini WKS
      div#verifier.row-fluid
        // Property List
        div.span6#property-list
          table.table#properties
            colgroup
              col(width='10%')
              col(width='10%')
              col(width='70%')
              col(width='10%')
            thead
              tr
                th Status
                th State
                th Formula
                th Time
            tbody
          button.btn#add-property
            i.icon-plus
            |   Add Property
        //- Property Editor
        div.span6#edit-property 
          div#edit-form.form-horizontal
            div.control-group
              label.control-label Initial state
              div.controls
                select#edit-prop-init-state.input-block-level
            div.control-group
              label.control-label Formula
              div.controls
                div#edit-prop-formula.input-block-level
                div#property-error.alert.alert-error
                  button.close#property-error-close &times;
                  strong#property-error-name
                  span#property-error-message
            div.control-group
              label.control-label Encoding
              div.controls
                div#edit-prop-encoding.btn-group
                  div.btn.disabled(style='width: 7ex') Symbolic
                  div.btn(style='width: 6ex') Naive
            div.control-group
              label.control-label Engine
              div.controls
                div#edit-prop-engine.btn-group
                  div.btn.disabled(style='width: 7ex') Local
                  div.btn(style='width: 6ex') Global
                select#search-strategy(style='margin-left:20px')
            div.form-actions
              div#edit-prop-run.btn.btn-success Verify
          div#stop-process.form-horizontal
            h3 Verification in progress...
            div.form-actions
              div#kill-process.btn.btn-danger Kill verification process
    //- Message Box (managed by Panel.coffee)
    div#message-box
    //- Overwrite promt dialog (managed by Panel.coffee)
    div#overwrite-warning.modal.hide.fade
      div.modal-header
        button.close(data-dismiss='modal') &times;
        h3 Project "
          span.overwrite-name
          | " Already Exists!
      div.modal-body
        p A project with the name "
          span.overwrite-name
          | " is already stored in localStorage of your browser.
          br
          b Do you wish to overwrite it?
      div.modal-footer
        button#overwrite-button.btn.btn-primary(data-dismiss='modal') Overwrite
        button.btn(data-dismiss='modal') Cancel
    //- Delete from localStorage prompt dialog
    div#delete-warning.modal.hide.fade
      div.modal-header
        button.close(data-dismiss='modal') &times;
        h3 Delete "
          span.delete-name
          | " from LocalStorage?
      div.modal-body
        p Are you sure yo want to delete "
          span.delete-name
          | " from LocalStorage in your browser?
      div.modal-footer
        button#delete-button.btn.btn-primary(data-dismiss='modal') Delete
        button.btn(data-dismiss='modal') Cancel
    include help
    //- File browser (for opening from file)
    input#file-browser(type='file',style='display: none;')