doctype 5
html
  head
    block head
      meta(charset='utf-8')
      title
        block title
          | WKTool - WCCS Model Checker
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
      for source in style
        link(rel='stylesheet', href="#{source}")
      for source in scripts
        script(src="#{source}")
      script
        var WKToolOrigin = "#{origin}";
  body
    div#main.container-fluid
      div.navbar
        div.navbar-inner
          a.brand WKTool
          ul.nav
            li.divider-vertical
            li
              input#project-name.input-xlarge(type='text',placeholder='Project name...')
          ul.nav.pull-right
            li.divider-vertical
            li
              a Save
            li
              a Load
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown",data-target='#') Examples 
                b.caret
              ul#examples.dropdown-menu
                for example in args.examples
                  li
                    a #{example}
      div.row-fluid
        div.span12(style='background:#ccc') Hest... 