
#editor
  position:       relative

#editor-options
  position:       absolute
  right:          20px
  top:            10px
  z-index:        900

#model-lang
  opacity:        .5

#editor:hover #model-lang
  opacity:        1

#editor-message
  display:        none

#editor-message .label-warning
  color:          black

#editor-message .message
  color:          black

.error-widget
  margin-bottom:  0px
  display:        inline-block
  margin-left:    10px
  padding-bottom: 3px