
#editor
  position:       relative

#editor-options
  position:       absolute
  right:          20px
  top:            10px
  z-index:        900
  opacity:        .5

#editor-options:hover
  opacity:        1