
#editor
  position:       relative

#editor-options
  position:       absolute
  right:          20px
  top:            10px
  z-index:        900

#model-lang
  opacity:        .5

#model-lang:hover
  opacity:        1

#editor-message
  display:        none
