
body
  overflow:hidden

.navbar
  margin-bottom:    10px

.navbar a
  cursor:           pointer

#main
  padding-top:      10px

#project-name
  border:           none !important
  height:           14px !important
  margin-top:       8px !important

#message-box
  position:               fixed
  top:                    20px
  right:                  20px
  -webkit-border-radius:  15px
  -moz-border-radius:     15px
  border-radius:          15px
  padding:                15px
  font-size:              1.5em
  background-color:       rgba(0, 0, 0, 0.5)
  display:                none
  z-index:                10000
  pointer-events:         none
  color:                  #fff

.ui-layout-resizer
  margin-bottom:          10px !important

