
body
  overflow:hidden

.navbar a
  cursor:           pointer

#main
  padding-top:      10px

#project-name
  border:           none !important
  height:           14px !important
  margin-top:       8px !important

#editor
  min-height:     100px

#verifier
  min-height:     100px

