
#property-list
  overflow:         auto
  padding-right:    5px

#verifier
  margin-top:       10px

#properties
  margin-bottom:    10px

#properties tbody tr
  cursor:           pointer

#properties tbody tr:hover
  background:       #e8e8e8


#edit-prop-formula .CodeMirror
  height:           50px

#stop-process
  display:          none